*{
    margin: 5;
    padding: 5;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #1d055f;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 160x;
    width: 150px;
    border-radius: 50%;
    display:inline-flexbox;
    justify-self:center;
}
.choice:hover{
    cursor: pointer;
    background: #081b31;

}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score,
#computer-score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}